@use "sass:meta";

// Fira Code: https://fonts.google.com/specimen/Fira+Code
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap");

html,
body,
#app,
.v-application,
.v-application__wrap {
  height: 100%;
}

// github-markdown-css:  https://github.com/sindresorhus/github-markdown-css
// Copied CSS files from
// - node_modules/github-markdown-css/
// - node_modules/highlight.js/styles/
// file extension is changed to .scss.
.v-theme--light {
  @include meta.load-css("./github-markdown-light");
  @include meta.load-css("./highlight/github");
}

.v-theme--dark {
  @include meta.load-css("./github-markdown-dark");
  @include meta.load-css("./highlight/github-dark");
}

/* https://github.com/sindresorhus/github-markdown-css */
:is(.v-theme--light, .v-theme--dark) .markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 12px;
}

:is(.v-theme--light, .v-theme--dark) .markdown-body {
  background-color: inherit;
}
:is(.v-theme--light, .v-theme--dark) .markdown-body pre code {
  background-color: inherit;
  font-family: "Fira Code", monospace;
  padding: 0;
}
